#jenkins-inline {
  float: right;
  width: 200px;
  height : calc(100% - 26px) ;
}
#jenkins-min {
  float: right;
  width: 20px;
  height : calc(100% - 26px) ;
}
.minimize-panel{
  transition: all 0.2s;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0));
  width: 50px;
  height: 100%;
  cursor: pointer;
}
.minimize-panel:hover {
 opacity: 0.8;
}
.maximize-panel{
  transition: all 0.2s;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 20px;
  height: 100%;
  cursor: pointer;
}
.maximize-panel:hover {
 opacity: 0.8;
}
.min-button{
  position: absolute;
  top: 50%;
  left: 10px;
}
.max-button{
  position: absolute;
  top: 50%;
  left: 0px;
}
.jenkins-header {
  background-color: black;
}
.jenkins-header-min {
  position: relative;
  background-color: white;
}
.jenkins-body, .jenkins-body-min {
  position: relative;
  height: 100%;
  background-color: white;
}
.jenkins-job-list {
  width: 100%;
}
.jenkins-job-list .job-name {
  width: 170px;
}
.jenkins-job-list .job-panel {
  padding: 0px!important;
  width: 30px;
}
.jenkins-job-list .blue, .jenkins-job-list .blue_anime {
  width: 30px;
  height: 30px;
  background: url('../images/jenkins/blue.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.jenkins-job-list .red, .jenkins-job-list .red_anime {
  width: 30px;
  height: 30px;
  background: url('../images/jenkins/red.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.jenkins-job-list-min .blue, .jenkins-job-list-min .blue_anime {
  width: 20px;
  height: 20px;
  background: url('../images/jenkins/blue.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.jenkins-job-list-min .red, .jenkins-job-list-min .red_anime {
  width: 20px;
  height: 20px;
  background: url('../images/jenkins/red.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.jenkins-job-list .clock {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: url('../images/jenkins/clock.png');
  background-repeat: no-repeat;
  background-size: cover;
}
