#jenkins-job-list .blue,
#jenkins-job-list .blue_anime {
    width: 30px;
    height: 30px;
    background: url('../images/jenkins/blue.png');
    background-repeat: no-repeat;
}
#jenkins-job-list .red,
#jenkins-job-list .red_anime  {
    width: 30px;
    height: 30px;
    background: url('../images/jenkins/red.png');
    background-repeat: no-repeat;
}
#jenkins-job-list .clock {
    width: 30px;
    height: 30px;
    background: url('../images/jenkins/clock.png');
    background-repeat: no-repeat;
}
#jenkins-job-list {
    width: 100%;
}
#jenkins-job-list .job-name {
    width: 80%;
}
#jenkins-job-list .job-panel {
    width: 20%;
}
#jenkins-body {
  margin-bottom: 5em;
}
#jenkins-footer {
  bottom: 0;
  height: 5em;
  position: absolute;
  background-color: black;
}
