html,
body {
    height: 98%;
    background-color: #f7f7f7;
}

div {
    font-size: 1em;
}

div.tabbox {
    margin: 0px;
    padding: 0px;
    width: 400px;
}

input {
    font-size: 1em;
}

p.tabs {
    font-family: "Meiryo";
    margin: 0px;
    padding: 0px;
}

p.tabs a {
    display: block;
    width: 5em;
    float: left;
    margin: 0px 1px 0px 0px;
    padding: 3px;
    text-align: center;
    border-radius: 12px 12px 0px 0px;
}

p.tabs a.redmine {
    background-color: #cc1237;
    color: white;
}

p.tabs a.jenkins {
    background-color: #000000;
    color: white;
}

p.tabs a.sonar {
    background-color: #4b9fd5;
    color: white;
}

p.tabs a.setting {
    float: right;
    background:url(../images/setting.svg) no-repeat;
    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-right:5px;
}

div.tab {
    height: 150px;
    clear: left;
}

div#redmine {
    height: 98%;
    overflow: hidden;
}

div#jenkins {
    height: 98%;
    overflow: hidden;
}

div#sonar {
    height: 98%;
    overflow: hidden;
}

div.tab p {
    margin: 0.5em;
}

input:focus {
    background: #d6e6fa;
}

textarea:focus {
    background: #d6e6fa;
}

.redmine-webview-wrapper {
    width: calc(100% - 200px);
    height: 100%;
    float: left;
}

.redmine-webview-wrapper-min {
    width: calc(100% - 20px);
}

div.jenkins-group {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 10px;
    border-radius: 12px 12px 12px 12px;
}

div.redmine-group {
    background-color: rgba(204, 18, 55, 0.3);
    margin: 10px;
    padding: 10px;
    border-radius: 12px 12px 12px 12px;
}

div.sonar-group {
    background-color: rgba(75, 159, 213, 0.3);
    margin: 10px;
    padding: 10px;
    border-radius: 12px 12px 12px 12px;
}

.search {
    float: right;
    text-align: right;
    cursor: pointer;
}

.remove-search {
    cursor: pointer;
}

.search-word {
    width: 20%;
    font-family: "Meiryo";
}

.search-count {
    margin-left: 3px;
    margin-top: 11px;
}

.search-panel {
    display: none;
    border: 1px solid LightGrey;
    border-radius: 5px;
    padding: 10px;
    padding-top: 2px;
    padding-right: 4px;
    background-color: WhiteSmoke;
    position: fixed;
    z-index: 10;
    top: 26px;
    right: 0px;
}

#splashscreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 999;
    width: 500px;
    height: 400px;
    background: url(../images/splash.png) no-repeat center #fff;
}

.project-name {
    float: right;
    border-radius: 8px 8px 8px 8px;
    margin-left: 5px;
}

.edit {
    float: right;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5px;
}
