html,
body {
    height: 98%;
    background-color: #f7f7f7;
}

div {
    font-size: 1em;
}

div.tabbox {
    margin: 0px;
    padding: 0px;
    width: 400px;
}

input {
    font-size: 1em;
}

p.tabs {
    font-family: "Meiryo";
    margin: 0px;
    padding: 0px;
}

p.tabs a {
    display: block;
    width: 5em;
    float: left;
    margin: 0px 1px 0px 0px;
    padding: 3px;
    text-align: center;
    border-radius: 12px 12px 0px 0px;
}

p.tabs a.redmine {
    background-color: #cc1237;
    color: white;
}

p.tabs a.jenkins {
    background-color: #000000;
    color: white;
}

p.tabs a.sonar {
    background-color: #4b9fd5;
    color: white;
}

p.tabs a.setting{
  float: right;
  text-align: right;
}

div.tab {
    height: 150px;
    clear: left;
}

div#redmine {
    height: 98%;
    overflow: hidden;
}

div#jenkins {
    height: 98%;
    overflow: hidden;
}

div#sonar {
    height: 98%;
    overflow: hidden;
}

div.tab p {
    margin: 0.5em;
}

input:focus {
	background: #d6e6fa;
}

textarea:focus {
	background: #d6e6fa;
}
.redmine-webview-wrapper{
  width:80%;
  height:100%;
  float: left;
}
.redmine-webview-wrapper-min{
  width:98%;
}

div.jenkins-group {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 10px;
    border-radius: 12px 12px 12px 12px;
}

div.redmine-group {
    background-color: rgba(204, 18, 55, 0.3);
    margin: 10px;
    padding: 10px;
    border-radius: 12px 12px 12px 12px;
}

div.sonar-group {
    background-color: rgba(75, 159, 213, 0.3);
    margin: 10px;
    padding: 10px;
    border-radius: 12px 12px 12px 12px;
}


.search{
  float: right;
  text-align: right;
}

.search-word{
  width:20%;
}

.search-panel{
  display: none;
  border: 1px solid LightGrey;
  border-radius: 5px;
  padding:10px;
  background-color: WhiteSmoke;
  position: fixed;
  top: 10px;
  right: 20px;
}
