html,
body {
    height: 98%;
    background-color: #f7f7f7;
}

div {
    font-size: 1em;
}

div.tabbox {
    margin: 0px;
    padding: 0px;
    width: 400px;
}

label {
    margin-right: 10px;
    width:200px;
    float: left;
}

ul {
    padding-left: 10px;
}

ul li {
    list-style: none;
}

p.tabs {
    font-family: "Meiryo";
    margin: 0px;
    padding: 0px;
}

p.tabs a {
    display: block;
    width: 5em;
    float: left;
    margin: 0px 1px 0px 0px;
    padding: 3px;
    text-align: center;
    border-radius: 12px 12px 0px 0px;
}

p.tabs a.tab1 {
    background-color: #cc1237;
    color: white;
}

p.tabs a.tab2 {
    background-color: #000000;
    color: white;
}

p.tabs a.tab3 {
    background-color: #4b9fd5;
    color: white;
}

p.tabs a.tab4 {
    float: right;
    text-align: right;
}

div.tab {
    height: 150px;
    clear: left;
}

div#tab1 {
    height: 98%;
    overflow: hidden;
}

div#tab2 {
    height: 98%;
    overflow: hidden;
}

div#tab3 {
    height: 98%;
    overflow: hidden;
}

div.tab p {
    margin: 0.5em;
}

input:focus {
	background: #d6e6fa;
}

textarea:focus {
	background: #d6e6fa;
}